<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winjer.app">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_winjer_white"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_winjer_white"
        android:screenOrientation="sensorPortrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAuu0kunFkjuaGqyfWLMkDJnSXqQJumcWA" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_T6XuJ6r0IpATVS" />

        <activity
            android:name=".splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".realfirst"
            android:label="Winjer"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".basic_cleaning_old"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".login"
            android:label="Sign up"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".location_schedule"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".appinfo"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".place_order"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".basic_cleaning"
            android:label="Basic Cleaning"
            android:parentActivityName=".basic_cleaning_old"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".roofwork"
            android:label="Roof Work"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".plumbing"
            android:label="Plumbing"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".electrical"
            android:label="Electrical"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".mobile"
            android:label="Mobile Repair"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".acrepair"
            android:label="AC SERVICE"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".tvrepair"
            android:label="TV Repair"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".drycleaning"
            android:label="Dry Cleaning"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".painting"
            android:label="Painting"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".afterparty"
            android:label="After Party"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".lab"
            android:label="Lab"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".washing_ironing"
            android:label="Washing and Ironing"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".sofa"
            android:label="Sofa"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".driving"
            android:label="Driving"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".event"
            android:label="Event Management"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".cake"
            android:label="Cake"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".carpet"
            android:label="Carpet Cleaning"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".deep_cleaning"
            android:label="Deep Cleaning"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".commercial"
            android:label="Commercial"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".housekeeping"
            android:label="House Keeping Service"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".deep_cleaningselect"
            android:label="Deep Cleaning"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".photography"
            android:label="Photography"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar" />
        <activity
            android:name=".dialogbox"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/MyAlertDialogStyle" />
        <activity
            android:name=".largeimage"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".earlypay"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/MyAlertDialogStyle" />
        <activity android:name=".help"
            android:label="Help"
            android:parentActivityName=".realfirst"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppThemeBar"
            />
    </application>

</manifest>